name: Build and Deploy

on: [push, pull_request]

jobs: 
    job1:
        runs-on: ubuntu-latest

        steps:
        - name: Pulling git repo
          uses: actions/checkout@v2
        - name: Say Hello
          run: echo "Hello World!"

        